[Unit]
Description=VMware-tools daemon

[Service]
ExecStart=/etc/init.d/vmware-tools start
ExecStop=/etc/init.d/vmware-tools stop
PIDFile=/var/lock/subsys/vmware
TimeoutSec=0
TimeoutStopSec=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
